<!DOCTYPE html>
<html data-ng-app="prototypen" lang="nb_NO">
<head>
  <title>kommuneslagord.no – en generator som gir deg slagordene til norske kommuner</title>

  <meta charset="utf-8">

  <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">

  <meta property="og:type" content="article">
  <meta property="og:site_name" content="kommuneslagord.no">
  <meta property="og:title" content="Generatoren som gir deg slagordene til norske kommuner">
  <meta property="og:description" content="På kommuneslagord.no kan du søke blant alle kommuneslagordene eller generere et helt tilfeldig kommuneslagord.">
  <meta property="og:url" content="https://kommuneslagord.no/">

  <meta property="og:image" content="https://kommuneslagord.no/img/kommuneslagord-norske-kommuner.png">
  <meta property="og:image:width" content="1000">
  <meta property="og:image:height" content="1000">

  <link rel="apple-touch-icon" sizes="180x180" href="/img/icons/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/img/icons/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/img/icons/favicon-16x16.png">
  <link rel="manifest" href="/img/icons/site.webmanifest">
  <link rel="mask-icon" href="/img/icons/safari-pinned-tab.svg" color="#002e5e">
  <link rel="shortcut icon" href="/img/icons/favicon.ico">
  <meta name="apple-mobile-web-app-title" content="kommuneslagord.no">
  <meta name="application-name" content="kommuneslagord.no">
  <meta name="msapplication-TileColor" content="#fffaf3">
  <meta name="msapplication-config" content="/img/icons/browserconfig.xml">
  <meta name="theme-color" content="#fffaf3">

  <meta name="apple-mobile-web-app-capable" content="yes">

  <link href="/img/splashscreens/iphone5_splash.png" media="(device-width: 320px) and (device-height: 568px) and (-webkit-device-pixel-ratio: 2)" rel="apple-touch-startup-image" />
  <link href="/img/splashscreens/iphone6_splash.png" media="(device-width: 375px) and (device-height: 667px) and (-webkit-device-pixel-ratio: 2)" rel="apple-touch-startup-image" />
  <link href="/img/splashscreens/iphoneplus_splash.png" media="(device-width: 621px) and (device-height: 1104px) and (-webkit-device-pixel-ratio: 3)" rel="apple-touch-startup-image" />
  <link href="/img/splashscreens/iphonex_splash.png" media="(device-width: 375px) and (device-height: 812px) and (-webkit-device-pixel-ratio: 3)" rel="apple-touch-startup-image" />
  <link href="/img/splashscreens/iphonexr_splash.png" media="(device-width: 414px) and (device-height: 896px) and (-webkit-device-pixel-ratio: 2)" rel="apple-touch-startup-image" />
  <link href="/img/splashscreens/iphonexsmax_splash.png" media="(device-width: 414px) and (device-height: 896px) and (-webkit-device-pixel-ratio: 3)" rel="apple-touch-startup-image" />
  <link href="/img/splashscreens/ipad_splash.png" media="(device-width: 768px) and (device-height: 1024px) and (-webkit-device-pixel-ratio: 2)" rel="apple-touch-startup-image" />
  <link href="/img/splashscreens/ipadpro1_splash.png" media="(device-width: 834px) and (device-height: 1112px) and (-webkit-device-pixel-ratio: 2)" rel="apple-touch-startup-image" />
  <link href="/img/splashscreens/ipadpro3_splash.png" media="(device-width: 834px) and (device-height: 1194px) and (-webkit-device-pixel-ratio: 2)" rel="apple-touch-startup-image" />
  <link href="/img/splashscreens/ipadpro2_splash.png" media="(device-width: 1024px) and (device-height: 1366px) and (-webkit-device-pixel-ratio: 2)" rel="apple-touch-startup-image" />

  <link rel="stylesheet" href="https://use.typekit.net/jdb2dqe.css">

  <link rel="stylesheet" href="/css/prototypen.min.css?v=349351032.css"/>

  <script src="/js/prototypen.min.js?v=349351032.js"></script>

  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-LH9LZ2V7RQ"></script>
  <script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-LH9LZ2V7RQ');
  </script>
</head>
<body>
  <div class="municipality" data-ng-controller="municipality">

    <header class="municipality__header">
      <a class="municipality__header__brand" data-ng-href="/">
        <h1 class="municipality__header__brand__title">kommuneslagord.no</h1>
        <i class="municipality__header__brand__icon"></i>
      </a>
      <div class="municipality__header__toggle">
        <a class="municipality__header__toggle__item" data-ng-class="{'municipality__header__toggle__item--selected': $location.path() === '/'}" data-ng-href="/">Generator</a><a class="municipality__header__toggle__item" data-ng-class="{'municipality__header__toggle__item--selected': $location.path() === '/liste-over-kommuneslagord'}" data-ng-click="filter.query = ''; queryFocus = true;" data-ng-href="/liste-over-kommuneslagord">Liste</a>
      </div>
      <div class="municipality__header__info">
        <a class="municipality__header__info__button" data-ng-href="/info">
          <span class="municipality__header__info__button__title">Info</span>
          <i class="municipality__header__info__button__icon"></i>
        </a>
      </div>
    </header>

    <article class="municipality__generator__item ng-cloak" data-ng-repeat="item in items | filter:{ slagord: ' '}" data-ng-if="$location.path() === '/kommuneslagordet-til-'+ [[ item.kommune ]]  +'-kommune'">
      <h2 class="municipality__generator__item__title">Kommuneslagordet til [[ item.kommune ]] kommune er:</h2>
      <p class="municipality__generator__item__slogan">[[ item.slagord ]]</p>
      <p class="municipality__generator__item__slogan" data-ng-if="!item.slagord">(mangler kommuneslagord)</p>
    </article>

    <div class="municipality__info ng-cloak" id="info" data-ng-if="$location.path() === '/info'">
      <h1>Har du hørt om kommuneslagord?</h1>
      <p>kommuneslagord.no er laget for å gi deg oversikt over alle de fantastiske slagordene byråkratene våre har laget for sine respektive kommuner. Du kan søke i <a data-ng-href="/liste-over-kommuneslagord">listen</a> over kommuneslagord, eller du kan prøve <a data-ng-href="/">generatoren</a> for å få et tilfeldig kommuneslagord.</p>
      <p>Listen inkluderer de gamle slagordene som ble fjernet som følge av kommuenereformene i perioden 2017 til 2020 – rett og slett fordi de er helt supre.</p>
      <p>Noen av kommunene våre mangler slagord, enten fordi slagordene ikke er vedtatt eller offisielt markedsført enda. Om du har forslag til slagord for din kommune, bør du ta kontakt med din nærmeste byråkrat.</p>
      <p>Nettstedet er laget av <a href="https://prototypen.no" target="_blank">Prototypen</a> og bruker Google Analytics for å sjekke hvor mange som har vært innom.</p>
    </div>

    <div class="municipality__generator ng-cloak" id="generator" data-ng-if="$location.path() === '/'">
      <article class="municipality__generator__item" data-ng-repeat="item in random(items) | filter:{ slagord: ' '} | limitTo: 1">
        <a data-ng-href="kommuneslagordet-til-[[ item.kommune ]]-kommune">
          <h2 class="municipality__generator__item__title">[[ item.kommune ]] kommune</h2>
        </a>
        <p class="municipality__generator__item__slogan">[[ item.slagord ]]</p>
        <button class="municipality__generator__item__reload" data-ng-click="municipalityToggleView('Generator')">
          <span class="municipality__generator__item__reload__title">Generer nytt kommuneslagord</span>
          <i class="municipality__generator__item__reload__icon"></i>
        </button>
      </article>
    </div>

    <div class="municipality__list ng-cloak" id="list" data-ng-if="$location.path() === '/liste-over-kommuneslagord'">
      <div class="municipality__list__filter">
        <div class="textfilter textfilter--large">
          <input
          class="textfilter__input"
          type="text"
          autocomplete="off"
          autofocus="on"
          placeholder="Søk etter kommune eller slagord..."
          data-ng-model="filter.query"
          data-ng-focus="queryFocus"
          data-bind-focus="queryFocus"
          data-esc-key="updateFilter(); filter.query = '';"
          data-enter-key="updateFilter();"
          id="filter"
          />
          <button class="textfilter__button" data-ng-click="filter.query = ''; queryFocus = true; updateFilter();">
            <i class="textfilter__button__icon textfilter__button__icon--search" data-ng-hide="filter.query.length > 0"></i>
            <i class="textfilter__button__icon textfilter__button__icon--reset" data-ng-show="filter.query.length > 0"></i>
          </button>
        </div>
      </div>
      <div class="municipality__list__wrapper">
        <article class="municipality__list__item ng-cloak" data-ng-repeat="item in filteredList = (items | filter:filter.query)">
          <a data-ng-href="kommuneslagordet-til-[[ item.kommune ]]-kommune">
            <h2 class="municipality__list__item__title">[[ item.kommune ]] kommune</h2>
          </a>
          <p class="municipality__list__item__slogan" data-ng-if="item.slagord">[[ item.slagord ]]<span class="tooltip" title="[[ item.kommentar ]]" data-ng-if="item.kommentar">*</span></p>
          <p class="municipality__list__item__slogan" data-ng-if="!item.slagord">(mangler kommuneslagord)</p>
        </article>
      </div>
      <div class="municipality__list__summary">
        <p data-ng-show="!filteredList.length">Ingen treff matchet søket <strong data-ng-show="filter.query.length"> «[[ filter.query ]]»</strong>.</p>
        <button data-ng-show="filter.query.length" class="link" type="button" data-ng-click="filter.query = ''; queryFocus = true; updateFilter();"><span>Nullstill søket</span></button>
      </div>
    </div>

  </div>
</body>
</html>
